{% extends "course/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-body">
<div class="row gutters-sm">
<div class="col-md-12">
	<div class="content-section">
		{% if not created %}
		<form action="." method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					课程修改
				</legend>
				{% if field.field.required %}{{ form.required_css_class }}{% endif %}
				<!--print out the form-->
				{{ form.as_p }}
				<br>
				{% if formset %}
				<h5>内容</h5>
				{{ formset.management_form }}
				<div id="lecture-form-list">
					{% for form in formset %}
						<p class="lecture-form">第{{ forloop.counter }}节 {{ form }}</p>
					{% endfor %}
				</div>
				<div id="empty-form" class="hidden"> {{ formset.empty_form }} </div>
				<button class="btn-xm btn-outline-info" id="add-more" type="button">加入新课节</button>
				{% endif %}
			</fieldset>
			<div class="form-group">
				<button class="btn-xm btn-outline-info" type="submit">Submit</button>
			</div>
		</form>
		{% else %}

		<a href="/course">back to course list</a>

		{% endif %}
	</div>
</div>
</div>
</div>
<script>
	const addMoreBtn = document.getElementById('add-more')
	const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

	addMoreBtn.addEventListener('click', add_new_form)
	function add_new_form(event){
		if(event){
			event.preventDefault()
		}
		const currentLectureForms = document.getElementsByClassName('lecture-form')
		const currentFormCount = currentLectureForms.length
		console.log(currentLectureForms.length)
		const formCopyTarget = document.getElementById('lecture-form-list')
		const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
		copyEmptyFormEl.setAttribute('class', 'lecture-form')
		copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
		const regex = new RegExp('__prefix__', 'g')
		copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
		totalNewForms.setAttribute('value', currentFormCount + 1)
		formCopyTarget.append(copyEmptyFormEl)
	}
</script>
{% endblock content %}